<div class="container">
	<div class="jumbotron">
	  <h1>Novel World</h1>
	  <!-- <p>...</p> -->
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>

<h1>
  <em><b>{{ title }}!</b></em>
</h1>

<h2>
<u><em>{{ head }}</em></u>
</h2>

<p *ngFor='let item of BookList'>
  <a href='books/{{ item.description }}'>{{ item.name }}</a>
</p>

<div class="container">
<!--   <div style="float: left;"> -->
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div *ngFor='let imageObj of bookImageList' class="thumbnail">
		      <a  href="books/by%20Paul%20Hawkins" (click)='preventNormal($event, imageObj)'>
		      	<img [src]="imageObj.image" alt="...">
		      </a>

<!-- 		      <a  href="books/by%20Celeste%20Ng" (click)='preventNormal($event, imageObj)'>
		      	<img [src]="imageObj.image" alt="...">
		      </a>

		      <a  href="books/by%20Angie%20Thomas" (click)='preventNormal($event, imageObj)'>
		      	<img [src]="imageObj.image" alt="...">
		      </a> -->
		      <div class="caption">
		        <h3>
		        	<p >
	              <a href='{{ imageObj.link }}'>{{ imageObj.title }}
	              </a>
<!-- 	              <a href='{{ imageObj.link2 }}'>{{ imageObj.title2 }}
	              </a>
	              <a href='{{ imageObj.link3 }}'>{{ imageObj.title3 }}
	              </a> -->
	            </p>
	          </h3>
	        </div>
		    </div>
		  </div>
  </div>
</div>


  <!-- <div style="float: left;">
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div *ngFor='let imageObj of bookImageList' class="thumbnail">
		      <a  href="books/by%20Celeste%20Ng" (click)='preventNormal($event, imageObj)'>
		      	<img [src]="imageObj.image2" alt="...">
		      </a>
		      <div class="caption">
		        <h3>
		        	<p >
	              <a href='{{ imageObj.link2 }}'>{{ imageObj.title2 }}
	              </a>
	            </p>
	          </h3>
		      </div>
		    </div>

		  </div>
		</div>
  </div>

  <div style="float: left;">
		<div class="row">
		  <div class="col-sm-6 col-md-4">
		    <div *ngFor='let imageObj of bookImageList' class="thumbnail">
		      <a  href="books/by%20Angie%20Thomas" (click)='preventNormal($event, imageObj)'>
		      	<img [src]="imageObj.image3" alt="...">
		      </a>
		      <div class="caption">
		        <h3>
		        	<p >
	              <a href='{{ imageObj.link3 }}'>{{ imageObj.title3 }}
	              </a>
	            </p>
	          </h3>
		      </div>
		    </div>
		  </div>
		</div>
  </div> -->
<!-- </div> -->
