<div class="col-sm-6 col-sm-offset-3"> 
<carousel class="text-center" >
  <slide>
    <img class="img-main-carousel" src="assets/images/nature/4.jpg" alt="First slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <p><a class='btn btn-default' href='/books'>Welcome</a></p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/nature/2.jpg" alt="Second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <p><a class='btn btn-default' href='/books'>Welcome</a></p>
    </div>
  </slide>
  <slide>
    <img class="img-main-carousel" src="assets/images/nature/1.jpg" alt="Third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3></h3>
      <p><a class='btn btn-default' href='/books'>Welcome</a></p>
    </div>
  </slide>
</carousel>
</div>



